<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>flask_app</title>
  </head>
  <body>


    <div class="container">
      
      <form action="/submit" method="POST">

        <div>
            <h3>Welcome to Park Selection!</h3>

            <!-- use https://www.nps.gov/state/${value}/index.htm -->
         
            <label for="park_selection">Please Choose a Park:</label>
            <select name="park_choice"">
                <option name='park_choice' value="badl">Badlands</option>
                <option name='park_choice' value="dewa">Delaware Water Gap</option>
                <option name='park_choice' value="moru">Mount Rushmore</option>
                <option name='park_choice' value="wica">Wind Cave</option>
                <option name='park_choice' value="yose">Yosemite</option>
                <option name='park_choice' value="jeca">Jewel Cave</option>
                <option name='park_choice' value="pine">New Jersey Pinelands</option>
                <option name='park_choice' value="sara">Saratoga</option>
                <option name='park_choice' value="gett">Gettysburg</option>
                <option name='park_choice' value="vafo">Valley Forge</option>
                <option name='park_choice' value="acad">Acadia</option>
                <option name='park_choice' value="kaww">Katahdin Woods and Waters</option>
                <option name='park_choice' value="bibe">Big Bend</option>
                <option name='park_choice' value="gumo">Guadalupe Mountains</option>
                <option name='park_choice' value="rigr">Rio Grande</option>
                <option name='park_choice' value="depo">Devils Postpile</option>
                <option name='park_choice' value="jomu">John Muir</option>
                <option name='park_choice' value="jotr">Joshua Tree</option>
                <option name='park_choice' value="muwo">Muir Woods</option>
                <option name='park_choice' value="pinn">Pinnacles</option>
                <option name='park_choice' value="seki">Sequoia and Kings Canyon</option>
                <option name='park_choice' value="bica">Bighorn Canyon</option>
                <option name='park_choice' value="deto">Devils Tower</option>
                <option name='park_choice' value="grte">Grand Teton</option>
                <option name='park_choice' value="yell">Yellowstone</option>
                <option name='park_choice' value="glac">Glacier</option>
                <option name='park_choice' value="crla">Crater Lake</option>
                <option name='park_choice' value="mora">Mount Rainier</option>
                <option name='park_choice' value="noca">North Cascades</option>
                <option name='park_choice' value="olym">Olympic</option>
                <option name='park_choice' value="grba">Great Basin</option>
                <option name='park_choice' value="coro">Coronado</option>
                <option name='park_choice' value="glca">Glen Canyon</option>
                <option name='park_choice' value="grca">Grand Canyon</option>
                <option name='park_choice' value="moca">Montezuma Castle</option>
                <option name='park_choice' value="nava">Navajo</option>
                <option name='park_choice' value="para">Parashant</option>
                <option name='park_choice' value="pefo">Petrified Forest</option>
                <option name='park_choice' value="pisp">Pipe Spring</option>
                <option name='park_choice' value="sagu">Saguaro</option>
                <option name='park_choice' value="sucr">Sunset Crater Volcano</option>
                <option name='park_choice' value="tont">Tonto</option>
                <option name='park_choice' value="gicl">Gila Cliff Dwellings</option>
                <option name='park_choice' value="peco">Pecos</option>
                <option name='park_choice' value="petr">Petroglyph</option>
                <option name='park_choice' value="whsa">White Sands</option>
                <option name='park_choice' value="blca">Black Canyon of the Gunnison</option>
                <option name='park_choice' value="cure">Curecanti</option>
                <option name='park_choice' value="grsa">Great Sand Dunes</option>
                <option name='park_choice' value="meve">Mesa Verde</option>
                <option name='park_choice' value="romo">Rocky Mountain</option>
              </select>
              <input type="submit" value="Submit" class="btn" />
          </div>
   
        
      </form>

    </div>

  </body>
</html>